* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

article {
    margin: 15px;
    outline: solid 1px gray;
    border-radius: 10px;
    padding: 15px;
}

body {
    background-color: aquamarine;
}
